.DS_Store
/src/.vs/InventoryPoc
/src/InventoryPoc.Web/Server/bin
/src/InventoryPoc.Web/Server/obj
/src/InventoryPoc.Web/Client/bin
/src/InventoryPoc.Web/Client/obj
/src/InventoryPoc.Web/Shared/bin
/src/InventoryPoc.Web/Shared/obj
/src/.vs/Eviden.VirtualGrocer
/src/Eviden.VirtualGrocer/Client/bin/Debug/net7.0
/src/Eviden.VirtualGrocer/Client/obj
*.user
/src/Eviden.VirtualGrocer/Server/bin/Debug/net7.0
/src/Eviden.VirtualGrocer/Server/obj
/src/Eviden.VirtualGrocer/Shared/bin/Debug/net7.0
/src/Eviden.VirtualGrocer/Shared/obj
/src/.vs/ProjectEvaluation/eviden.virtualgrocer.projects.v6.1
/src/.vs/ProjectEvaluation/eviden.virtualgrocer.metadata.v6.1
/.vs
/src/.vs/ProjectEvaluation
appsettings.Development.json