@media (min-width: 1084px) {
  .chat-container {
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    box-sizing: content-box;
  }
}
@media (min-width: 1400px) {
  .chat-container {
    max-width: 1600px;
  }
}
.chat-container {
  padding: 0 0 10px 0;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  background-color: #002d3c;
}
.chat-container .chat-messages .chat-message {
  padding: 20px 25px 15px;
  margin: 10px 0 10px 0;
  color: #000;
  border-radius: 20px;
}
.chat-container .chat-messages .chat-message .clear {
  clear: both;
}
.chat-container .chat-messages .chat-message .message-details {
  float: left;
  width: 90%;
}
.chat-container .chat-messages .chat-message .message-details p.precontent {
  margin-bottom: 10px;
}
.chat-container .chat-messages .chat-message .message-details .inventorycontent, .chat-container .chat-messages .chat-message .message-details .recipecontent {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.chat-container .chat-messages .chat-message .message-details .inventorycontent button.toggle-recipes, .chat-container .chat-messages .chat-message .message-details .recipecontent button.toggle-recipes {
  font-size: 0.8em;
  border-radius: 0px;
  margin: 5px 10px;
  padding: 0;
  border: none;
  border-bottom: 2px solid #ff6d43;
  color: #000;
  cursor: pointer;
  background-color: transparent;
}
.chat-container .chat-messages .chat-message .message-details .inventorycontent button.toggle-recipes:hover, .chat-container .chat-messages .chat-message .message-details .recipecontent button.toggle-recipes:hover {
  color: #0066a1;
}
.chat-container .chat-messages .chat-message .message-details .recipes .recipe {
  margin-bottom: 10px;
}
.chat-container .chat-messages .chat-message .message-details .recipes .recipe .recipe-name {
  font-weight: bold;
  font-size: 1.1em;
}
.chat-container .chat-messages .chat-message .message-details .recipes .recipe .recipe-name .recipe-url {
  font-weight: normal;
  font-size: 0.7em;
}
.chat-container .chat-messages .chat-message .message-details .recipes .recipe .recipe-name .recipe-url a {
  padding: 0.25em;
}
.chat-container .chat-messages .chat-message .message-details .recipes .recipe .recipe-description {
  font-style: italic;
}
.chat-container .chat-messages .chat-message .message-details .recipes .recipe .recipe-directions {
  font-weight: bold;
  margin: 5px 0 20px;
}
.chat-container .chat-messages .chat-message .message-details .recipes .recipe .recipe-directions p{
  text-decoration: underline;
}
.chat-container .chat-messages .chat-message .message-details .recipes .recipe .recipe-directions .recipe-direction {
  font-size: 0.8em;
  font-weight: normal;
}
.chat-container .chat-messages .chat-message .message-details .product {
  clear: both;
  margin-bottom: 10px;
}
.chat-container .chat-messages .chat-message .message-details .product img.message-image {
  width: 75px;
  height: 75px;
  float: left;
  border-radius: 10px;
}
.chat-container .chat-messages .chat-message .message-details .product .quantity-control {
  float: right;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-right: 20px;
}
.chat-container .chat-messages .chat-message .message-details .product .quantity-control .quantity-button {
  border: none;
  background-color: #002d3c;
  color: #fff;
  padding: 5px 11px;
  cursor: pointer;
  border-radius: 10px;
}
.chat-container .chat-messages .chat-message .message-details .product .quantity-control .quantity-button:hover {
  background-color: #006878;
}
.chat-container .chat-messages .chat-message .message-details .product .quantity-control .quantity-input {
  width: 30px;
  text-align: center;
  margin: 0 5px;
}
.chat-container .chat-messages .chat-message .message-details .product .product-info {
  float: left;
  margin: 5px 25px 15px 15px;
  font-size: 0.9em;
}
.chat-container .chat-messages .chat-message .message-details .product .product-info .product-cost .dollars {
  font-size: 1.6em;
  font-weight: bold;
}
.chat-container .chat-messages .chat-message .message-details .product .product-info .product-cost .cents {
  vertical-align: super;
  font-size: 0.9em;
  margin-left: 1px;
}
.chat-container .chat-messages .chat-message .message-details .product .product-info .product-size {
  font-size: 0.8em;
  color: #000;
}
.chat-container .chat-messages .chat-message .message-details .product .add-to-cart-button {
  float: right;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  color: #000;
  background-color: #ff6d43;
  cursor: pointer;
  margin-top: 10px;
}
.chat-container .chat-messages .chat-message .message-details .product .add-to-cart-button:hover {
  background-color: #df4113;
}
.chat-container .chat-messages .chat-message p {
  margin-bottom: 0;
}
.chat-container .chat-messages .chat-message img.avatar {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 15px;
  border-radius: 10px;
}
.chat-container .chat-messages .chat-message.user-message {
  background-color: #002d3c;
  color: #eee;
}
.chat-container .chat-messages .chat-message.bot-message {
  background-color: #ececed;
}
.chat-container .chat-input {
  width: 100%;
  padding: 0 20px;
}
.chat-container .chat-input textarea {
  max-height: 200px;
  width: 100%;
  padding: 10px;
  background-color: #d0ccc3;
  color: #000;
  border: none;
  resize: none;
  border-radius: 20px;
}
.chat-container .chat-input .cancel-prompt-button, .chat-container .chat-input .send-prompt-button, .chat-container .chat-input .clear-prompt-button {
  border-radius: 50px;
  padding: 5px 10px;
  border: none;
  color: #000;
  background-color: #ff6d43;
  cursor: pointer;
}
.chat-container .chat-input .cancel-prompt-button.disabled, .chat-container .chat-input .send-prompt-button.disabled, .chat-container .chat-input .clear-prompt-button.disabled {
  cursor: default;
  background-color: #000;
  color: #777;
}
.chat-container .chat-input .cancel-prompt-button.disabled:hover, .chat-container .chat-input .send-prompt-button.disabled:hover, .chat-container .chat-input .clear-prompt-button.disabled:hover {
  background-color: #000;
  color: #777;
}
.chat-container .chat-input .cancel-prompt-button:hover, .chat-container .chat-input .send-prompt-button:hover, .chat-container .chat-input .clear-prompt-button:hover {
  background-color: #ff9fad;
}
.chat-container .chat-input .clear-prompt-button {
  background-color: #ececed;
  color: #000;
}
.chat-container .chat-input .clear-prompt-button:hover {
  background-color: #f2dbe3;
}
.chat-container .chat-input .cancel-prompt-button {
  background-color: #fff;
}
.chat-container .scroll-down-arrow {
  font-size: 24px;
  color: #002d3c;
}
.chat-container .scroll-down-arrow.visible {
  display: block;
}
.chat-container .scroll-down-arrow.hidden {
  display: none;
}
.chat-container .hidden {
  display: none;
}
