@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<style>
    .authorize-view-container {
        /* Your styles here */
        background-color: #f60000;
        padding: 10px;
    }
</style>

<AuthorizeView>
    <Authorized>
        <div class="authorized-view">
            Hello, @context.User.Identity?.Name!
            <button class="nav-link btn btn-link btn-hover" @onclick="BeginLogOut">Log out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="not-authorized-view">
            <button class="nav-link btn btn-link btn-hover" @onclick="BeginLogIn">Log in</button>
        </div>
    </NotAuthorized>
</AuthorizeView>

<style>
    .authorized-view {
        /* Your styles for authorized view */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .btn-hover:hover {
        color: orange;
    }

    .not-authorized-view {
        /* Your styles for not authorized view */
        
    }
</style>
 
@code{
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

    public void BeginLogIn()
    {
        Navigation.NavigateToLogin("authentication/login");
    }
}
