@inherits LayoutComponentBase

<div class="page">
     
    <main>
        <div class="top-row px-4 auth">
            <div class="company-logo">
                <img src="Eviden-an-atos-business-black-RGB.png" alt="Eviden an Atos business"/>
            </div>

            <div>
                <LoginDisplay />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
